

<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->
<head>
  <meta charset="utf-8">
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>&lt;no title&gt; &mdash; Rackspace Documentation Guides  documentation</title>
  

  
  
  
  

  

  
  
    

  

  <link rel="stylesheet" href="../_static/css/theme.css" type="text/css" />
  <link rel="stylesheet" href="../_static/pygments.css" type="text/css" />
  <link rel="stylesheet" href="../_static/theme_overrides.css" type="text/css" />
  <link rel="stylesheet" href="../_static/bespoke.css" type="text/css" />
  <link rel="stylesheet" href="../_static/bolditalic.css" type="text/css" />
    <link rel="index" title="Index" href="../genindex.html" />
    <link rel="search" title="Search" href="../search.html" /> 

  
  <script src="../_static/js/modernizr.min.js"></script>

</head>

<body class="wy-body-for-nav">

   
  <div class="wy-grid-for-nav">

    
    <nav data-toggle="wy-nav-shift" class="wy-nav-side">
      <div class="wy-side-scroll">
        <div class="wy-side-nav-search">
          

          
            <a href="../index.html" class="icon icon-home"> Rackspace Documentation Guides
          

          
          </a>

          
            
            
          

          
<div role="search">
  <form id="rtd-search-form" class="wy-form" action="../search.html" method="get">
    <input type="text" name="q" placeholder="Search docs" />
    <input type="hidden" name="check_keywords" value="yes" />
    <input type="hidden" name="area" value="default" />
  </form>
</div>

          
        </div>

        <div class="wy-menu wy-menu-vertical" data-spy="affix" role="navigation" aria-label="main navigation">
          
            
            
              
            
            
              <ul>
<li class="toctree-l1"><a class="reference internal" href="../contributor-collateral/index.html">Contribute to Rackspace documentation</a></li>
<li class="toctree-l1"><a class="reference internal" href="../tools/index.html">Tools</a></li>
</ul>

            
          
        </div>
      </div>
    </nav>

    <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap">

      
      <nav class="wy-nav-top" aria-label="top navigation">
        
          <i data-toggle="wy-nav-top" class="fa fa-bars"></i>
          <a href="../index.html">Rackspace Documentation Guides</a>
        
      </nav>


      <div class="wy-nav-content">
        
        <div class="rst-content">
        
          















<div role="navigation" aria-label="breadcrumbs navigation">

  <ul class="wy-breadcrumbs">
    
      <li><a href="../index.html">Docs</a> &raquo;</li>
        
      <li>&lt;no title&gt;</li>
    
    
      <li class="wy-breadcrumbs-aside">
        
            
            <a href="../_sources/templates/how-to-task-template.md.txt" rel="nofollow"> View page source</a>
          
        
      </li>
    
  </ul>

  
  <hr/>
</div>
          <div role="main" class="document" itemscope="itemscope" itemtype="http://schema.org/Article">
           <div itemprop="articleBody">
            
  <p>## How-to task template</p>
<p>permalink | title <a href="#id1"><span class="problematic" id="id2">|</span></a>type | created_date | created_by | last_modified_date | last_modified_by | product | product_url
— | — | — | — | — | — | — | — | —
name-of-file-without-extension/ | Title of article | article | ‘yyyy-mm-dd’ | First Last | ‘yyyy-mm-dd’ | First Last | Product Name | product-name</p>
<p>&lt;!–
For detailed guidelines for creating clear and effective tasks, see
[the Tasks section of the style guide](<a class="reference external" href="https://github.com/rackerlabs/docs-rackspace/blob/master/style-guide/m-z-style-guidelines.md#tasks">https://github.com/rackerlabs/docs-rackspace/blob/master/style-guide/m-z-style-guidelines.md#tasks</a>).</p>
<p>For guidelines specific to How-To articles, see
[Contributing to the Rackspace How-To content repository](<a class="reference external" href="https://github.com/rackerlabs/rackspace-how-to/blob/master/CONTRIBUTING.md">https://github.com/rackerlabs/rackspace-how-to/blob/master/CONTRIBUTING.md</a>).</p>
<p>For a good example article that illustrates most of the areas covered in this
template, see [Migrating an application built on a lamp
stack](<a class="reference external" href="https://github.com/rackerlabs/rackspace-how-to/blob/master/content/cloud-servers/migrating-an-application-built-on-a-lamp-stack-from-amazon-web-services.md">https://github.com/rackerlabs/rackspace-how-to/blob/master/content/cloud-servers/migrating-an-application-built-on-a-lamp-stack-from-amazon-web-services.md</a>).
–&gt;</p>
<p>&lt;!–
Limit task topics to a single task or a closely related group of tasks. Include
as much context as necessary for the user to be able to complete the task.</p>
<p>Create a title (in the header section, above) that accurately describes the
task. Start with an imperative verb, and use sentence-style capitalization. For
example:</p>
<p>Create and attach a volume
Install or upgrade PHP 5.3 for CentOS 5.x
–&gt;</p>
<p>This article describes <em>x</em> so that you can <em>y</em>.</p>
<p>&lt;!–
To begin the article, provide a brief summary of what the article describes and
why it matters. For example:</p>
<p>“You can send email to a large number of people by assigning them to a parent
email list called a group list. This article shows you how to create a group
list.”</p>
<p>“To set up Webmail Mobile Sync with your Rackspace Email account on your mobile
device, you need to add an ActiveSync or BlackBerry Enterprise Service (BES)
license through the Cloud Office Control Panel. This article shows you how to
add a ActiveSync or BES license.”</p>
<p>You are not limited to this phrasing, but ensure that the introduction
adequately describes what the article is about.
–&gt;</p>
<p>### Prerequisites</p>
<p>&lt;!–
List necessary prerequisites for the task or set of tasks. Limit this section
to only what the user needs to know or do to accomplish the task.</p>
<ul class="simple">
<li>Software that must already be installed</li>
<li>Dependencies</li>
<li>Links to other articles</li>
<li>Any other required setup</li>
</ul>
<p>–&gt;</p>
<p>### Steps</p>
<p>&lt;!–
If you have a “Prerequisites” section, or you have more than one procedure (set
of steps) in the article, precede each list of steps with a descriptive
heading. Begin the heading with an imperative verb (for example, Create a
scheduled backup). If an article has just one set of steps, and it is preceded
by only a brief introduction, you can omit this heading.</p>
<p>List steps in a numbered list. Limit each step to a single action. For detailed
guidelines for writing effective and clear step text, see
[the style guide](<a class="reference external" href="http://rackerlabs.github.io/docs-rackspace/style-guide/index.html">http://rackerlabs.github.io/docs-rackspace/style-guide/index.html</a>).</p>
<p>Include as many “Steps” sections as needed to provide a complete article to the
user.</p>
<p>To make it easier to shuffle steps around, number each with 1.; the processor
handles numbering the steps appropriately.
–&gt;</p>
<ol class="arabic">
<li><p class="first">Do this.</p>
<blockquote>
<div><p>Indent any descriptions or information needed between steps. If your task includes sublists, graphics, and code examples, use the spacing guidelines at <a class="reference external" href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet#lists">https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet#lists</a>.</p>
</div></blockquote>
</li>
</ol>
<ol class="arabic simple">
<li>Do that.</li>
</ol>
<ol class="arabic simple">
<li>Do this other thing.</li>
</ol>
<ol class="arabic simple">
<li>Clean up.</li>
</ol>
<p>Conclude with a brief description of the end state.</p>
<p>### Troubleshooting</p>
<p>&lt;!–
If there are known issues that the user could encounter during the task,
describe those issues and their workarounds in this section. If the issues and
workarounds are provided in another article, provide a link to that article.
–&gt;</p>
<p>### Related information</p>
<p>&lt;!–
Provide links to related content.
–&gt;</p>
<p>### Next step</p>
<p>&lt;!–
If the task is part of a larger set of tasks, you can help the customer by
including this section and a link to the next task article.
–&gt;</p>


           </div>
           
          </div>
          <footer>
  

  <hr/>

  <div role="contentinfo">
    <p>
        &copy; Copyright 2018, Rackspace

    </p>
  </div>
  Built with <a href="http://sphinx-doc.org/">Sphinx</a> using a <a href="https://github.com/rtfd/sphinx_rtd_theme">theme</a> provided by <a href="https://readthedocs.org">Read the Docs</a>. 

</footer>

        </div>
      </div>

    </section>

  </div>
  


  

    
    
      <script type="text/javascript" id="documentation_options" data-url_root="../" src="../_static/documentation_options.js"></script>
        <script type="text/javascript" src="../_static/jquery.js"></script>
        <script type="text/javascript" src="../_static/underscore.js"></script>
        <script type="text/javascript" src="../_static/doctools.js"></script>
        <script type="text/javascript" src="../_static/language_data.js"></script>
    

  

  <script type="text/javascript" src="../_static/js/theme.js"></script>

  <script type="text/javascript">
      jQuery(function () {
          SphinxRtdTheme.Navigation.enable(true);
      });
  </script> 

</body>
</html>